* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding-top: 2rem;
  font-family: $font-family-sans-serif;
  font-size: 16px;
  line-height: 24px;
}

.uoc-container {
  max-width: 800px;
  margin: auto;
  padding: 2rem;
  border-radius: 2rem;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.uoc-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5rem;
  max-width: 200px;
  height: auto;

  @media (min-width: $mqMinWidth) {
    max-width: none;
  }
}

.uoc-title {
  font-family: $font-family-serif;
  font-size: 24px;
  font-weight: 700;
  color: $uoc-corporate;

  @media (min-width: $mqMinWidth) {
    font-size: 36px;
  }
}

.uoc-footer {
  margin-top: 1.5rem;
  font-size: 0.75rem;
  text-align: center;
}

.navbar{
  background-color: $uoc-bg;
  color: $uoc-corporate;
}

.steelblue{
  background-color: steelblue;
}

@supports (display:grid) {
  @media (min-width: 42em) and (min-height: 27em) {
    .main-grid {
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      grid-template-rows: repeat(8, 1fr);
      grid-column-gap: 0px;
      grid-row-gap: 0px;
      height:82vh;
      margin-top: 23px;
    }
    .main-grid__first { 
      grid-area: 1 / 1 / 5 / 5; 
    }
    .main-grid__second { 
      grid-area: 2 / 2 / 3 / 6; 
      z-index: 2;
    }
    .main-grid__third { 
      grid-area: 1 / 6 / 7 / 7; 
    }
    .main-grid__fourth { 
      grid-area: 6 / 1 / 7 / 6;
    }
    .main-grid__fifth { 
      grid-area: 1 / 8 / 9 / 9;
    }
    .main-grid__sixth { 
      grid-area: 2 / 7 / 3 / 8; 
    }
    .main-grid__seventh { 
      grid-area: 8 / 1 / 9 / 8; 
    }
  }
}
@supports not (display:grid) {
  @media (max-width:42em)  {
    .main-grid{
      margin-top: 50%;
    }
  }
}