<footer class="uoc-footer">
  <nav class="uoc-footer__navbar navbar navbar-expand-lg navbar-light bg-light fixed-bottom">
    <div class="navbar__container container-fluid">
      <a class="container__logo navbar-brand" >Logo</a>
      <div class="container__div justify-content-evenly d-none d-lg-block" id="navbarNav">
        <ul class="div__list navbar-nav">
          <li class="list__item nav-item">
            <a class="nav-link" href="./index.html">Home</a>
          </li>
          <li class="list__item nav-item">
            <a class="nav-link" href="./page02.html">Page Two</a>
          </li>
          <li class="list__item nav-item">
            <a class="nav-link" href="./page03.html">Page Three</a>
          </li>
          <li class="list__item nav-item">
            <a class="nav-link" href="./page04.html">Page Four</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</footer>
