<nav class="nav navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="nav__container container-fluid">
    <a class="container__logo navbar-brand" >Logo</a>
    <button class="container__toggler navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="toggler__icon navbar-toggler-icon"></span>
    </button>
    <div class="container__menu collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="menu__list navbar-nav">
        <li class="list__item nav-item">
          <a class="nav-link" href="./index.html">Home</a>
        </li>
        <li class="list__item nav-item">
          <a class="nav-link" href="./page02.html">Page Two</a>
        </li>
        <li class="list__item nav-item">
          <a class="nav-link" href="./page03.html">Page Three</a>
        </li>
        <li class=" list__item nav-item">
          <a class="nav-link" href="./page04.html">Page Four</a>
        </li>
      </ul>
    </div>
  </div>
</nav>